<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Users List</h5>
            </div>
            <div class="card-body">
                <p-table #dt [value]="users" selectionMode="single" [(selection)]="selectedUsers" dataKey="id" styleClass="p-datatable-customers"
                    [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="fullName">Full Name <p-sortIcon field="fullName"></p-sortIcon></th>
                            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                            <th pSortableColumn="phoneNumber">Phone Number <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                            <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon></th>
                            <th pSortableColumn="fcmId">fcmId <p-sortIcon field="fcmId"></p-sortIcon></th>
                        </tr>
                        <tr>
                            <th>
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'fullName', 'contains')" [value]="dt.filters['fullName']?.value" placeholder="Search by Name" class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')" [value]="dt.filters['email']?.value" placeholder="Search by Email" class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'phoneNumber', 'contains')" [value]="dt.filters['phoneNumber']?.value" placeholder="Search by Phone Number" class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'address', 'contains')" [value]="dt.filters['address']?.value" placeholder="Search by Address" class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'fcmId', 'contains')" [value]="dt.filters['fcmId']?.value" placeholder="Search by Firebase ID" class="p-column-filter">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr [pSelectableRow]="user">
                            <td>
                                {{user.fullName}}
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                            <td>
                                {{user.phoneNumber}}
                            </td>
                            <td>
                                {{user.address}}
                            </td>
                            <td>
                                {{user.fcmId}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">No users found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

