<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Notifications</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Notifications Sent</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-info" *ngFor="let item of notifications">
            <span>{{ item.body }}</span>
          </div>
          <!-- <div class="alert alert-info">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>This is a notification with close button.</span>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Notification fails</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-warn" *ngFor="let item of notifications">
            <span>{{ item.body }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
